<p>
  You can reset your password within the next 15 minutes on
  <%#= link_to "this password reset page", edit_password_url(@user.password_reset_token) %>
  <%= link_to "this password reset page", "#{Rails.application.credentials.dig('frontend_url')}/reset-password?token=#{@user.password_reset_token}" %>
</p>
