@config "../../../tailwind.config.js";
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "playrite";
  src: url("../fonts/PlayriteVariable.ttf") format("truetype");
  font-weight: 100 400;
  font-style: swap; /* using swap instead of normal due to font loading speed warnings */
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/RalewayVariable.ttf") format("truetype");
  font-weight: 500 700;
  font-style: swap; /* using swap instead of normal due to font loading speed warnings */
}

/* --------------------------------------------------------------- */
:root {
  font-family: 'raleway';
  font-variation-settings: "wght" 400;
  color-scheme: light;
}

@layer utilities {
  /* --------------------------------------------------------------- */
  /* used by alert */
  @keyframes slide-bounce-in {
    0% {
      opacity: 0;
      transform: translateY(-100%) scale(0.95);
    }
    60% {
      opacity: 1;
      transform: translateY(10%) scale(1.01);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  .animate-slide-bounce-in {
    animation: slide-bounce-in 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  }
  
  /* --------------------------------------------------------------- */
  /* used by confetti */
  @keyframes fall {
    0% {
      transform: translateY(5vh) rotate(0deg); /* Start above the viewport */
    }
    100% {
      transform: translateY(250vh) rotate(900deg); /* End far below the viewport */
    }
  }

  .confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
  }

  .confetti-piece {
    position: absolute;
    width: 8px;
    height: 14px;
    opacity: 0.8;
    animation: fall 2.7s linear forwards, rotate 1s linear infinite; /* Adjusted duration for full fall */
    transform-origin: center;
    pointer-events: none;
    animation-fill-mode: forwards;
  }

  .confetti-container .confetti-piece:nth-child(odd) {
    background-color: #ff6347;
  }

  .confetti-container .confetti-piece:nth-child(even) {
    background-color: #3cb371;
  }

  /* --------------------------------------------------------------- */
  /* used by usersLastGame in GameTable */
  @keyframes pulse-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.015);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-pulse {
    animation: pulse-scale 0.6s ease-in-out 2; 
  }

  @keyframes color-and-bounce {
    0% {
      color: black;
    }
    10% {
      color: red;
      transform: scale(1);
    }
    15% {
      transform: scale(1.015);
    }
    20% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.015);
    }
    30% {
      transform: scale(1);
    }
    60% {
      color: red;
      transform: scale(1);
    }
    100% {
      color: black;
    }
  }

  .animate-color-and-bounce {
    animation: color-and-bounce 4s ease-in-out 1;
  }
  
  /* --------------------------------------------------------------- */
    /* Font utilities */
  .font-variation-settings-wght-500 {
    font-variation-settings: "wght" 500;
  }
  .font-variation-settings-wght-600 {
    font-variation-settings: "wght" 600;
  }
  .font-variation-settings-wght-700 {
    font-variation-settings: "wght" 700;
  }
  /* .font-variation-settings-wght-100 {
    font-variation-settings: "wght" 100;
  }
  .font-variation-settings-wght-200 {
    font-variation-settings: "wght" 200;
  }
  .font-variation-settings-wght-300 {
    font-variation-settings: "wght" 300;
  }
  .font-variation-settings-wght-400 {
    font-variation-settings: "wght" 400;
  } */
  /* .font-variation-settings-wght-800 {
    font-variation-settings: "wght" 800;
  }
  .font-variation-settings-wght-900 {
    font-variation-settings: "wght" 900;
  } */
}

